<% provide(:title, "Gallery") %>
<div class = "jumbotron page-content-wrapper">
	<div class = "container-fluid">
		<h1>Gallery</h1>
		<p>Find me in app/views/static_pages/gallery.html.erb</p>
	</div>
</div>