<% provide(:title, "Home") %>
<div class="center jumbotron page-content-wrapper">
	<div class = "container-fluid">
	  <h1>Welcome to WebProfile</h1>

	  <h2>
	    This is the home page for WebProfile!
	  </h2>

	  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
	</div>
</div>

