<% provide(:title, "Profiles") %>
<div class = "jumbotron page-content-wrapper">
	<div class = "container-fluid">
		<h1>Profiles</h1>
		<div class ="leftpane">
			
		</div>
		<div class ="rightpane">
			<%= render @portfolios %>
		</div>
	</div>
</div>